@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color: #202426;
    color: #F2F2F2;
    font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #F2F2F2;
}

ul.disc {
	list-style-type: disc;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.discord {
  font-size: 50px;
  padding: 0px 0px 0px 20px;
}

.inline {
  display: inline;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  text-decoration: none;
  color: #818181;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.right {
  text-align:right;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.topbar {
    background-color: #282A35;
}

/* Style buttons */
.openNav {
  background-color: #059862; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.openNav:hover {
  background-color: #03794d;
}

/*Collapsables */
.collapsible {
  padding: 0px 0px 0px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background: none;
  border: none;
  transition: 0.3s;
}

.active, .collapsible:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0px 0px 0px 45px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: none;
  transition: 0.3s;
}

.next {
  float: left;
  margin: 0 1%;
}

.center {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}